<!DOCTYPE html>
<html>
<head>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>

<h2>Processing Payment...</h2>

<button id="pay-btn">Pay Now</button>

<script>
var options = {
    "key": "{{ razorpay_key }}",
    "amount": "{{ order.amount }}",
    "currency": "INR",
    "name": "Hotel Booking",
    "order_id": "{{ order.id }}",
    "handler": function (response){
        window.location.href = "/payment-success/";
    }
};

var rzp = new Razorpay(options);

document.getElementById('pay-btn').onclick = function(e){
    rzp.open();
    e.preventDefault();
}
</script>

</body>
</html>
